<span style="font-weight: 600;">Issue {{action}} by </span>
<a style="font-weight: 600;" href= "{{sender.html_url}}">@{{sender.login}}</a><br/>
<a style="font-weight: 600;" href= "{{issue.html_url}}">#{{issue.number}} {{{formatted_html issue.title}}}</a><br/>